/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* common style */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/*    banner style    */


.banner{
    background-color: #2D25A0;
    height: 680px;
    display: flex;
    
}


.banner-content{
    padding-left: 156px;
    padding-top: 207px;
    padding-bottom: 169px;
}

/* banner header */

.banner-header h1{
    margin: 0;
    width: 485px;
    height: 230px;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    color: #FFFFFF;
    margin-bottom: 27px;
}

/* watch live button */
.btn-watch-live{
    width: 173px;
    height: 44px;
}



.btn-watch-live a{
   
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
    background-color: #E02C6D;
    padding: 10px 24px ;
    text-decoration: none;
    position: relative;
}

.btn-watch-live a:after {    
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    background:white;
    transition: width 0.5s ease-in-out ;
    width: 0;
  }

  .btn-watch-live a:hover:after { 
    width: 100%; 
    left: 0; 
  }


/* banner image */

.banner-img img{
    margin-top: 153px;
    margin-left: 102px;
    width: 556px;
    height: 438px;
}

/* banner section end */



/* Player section start */

/* blogs style */
.blogs{
 margin-top: 70px;
 margin-left: 180px;
 margin-right: 210px;
 display: grid;
 grid-template-columns: repeat(3,1fr);
 gap: 27px 30px;
}

.blog{
    height: 474px;
    width: 330px;
    margin-bottom: 27px;
}

.blog-content{
    padding:15px ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blog-thumbnail img{
    height: 256px;
    width: 300px;
}

.blog-content h3{
    font-size: 28px;
    line-height: 40px;
}

.blog-content p{
    font-weight: 400px;
    font-size: 16px;
    line-height: 26px;
}

/* player section end */

/* 2021 copa america start */

.copa{
   
    display: grid;
    justify-content: center;
    margin-top: 70px;
    margin-left: 180px;
    margin-right: 210px;
    width: 1050px;
}

.copa-header h3{
    text-align: center;
}

.copa-content{
    padding:20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    
}

.copa-score{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-left: 70px;
    margin-bottom: 20px;
    
}

.copa-score .ft{
    margin-top: 40px;
    margin-left: 50px;
}

.team{
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.team-score{
    font-size: 40px;
}

.team img{
    width: 80px;
    height: 50px;
}

.copa-banner-thumbnail img{
    width: 1050px;
    border-radius: 10px;
}

/* 2021 copa america end */


/* newsletter start */
.newsletter{
    margin-top: 70px;
}

.newsletter-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter-content img{
    width: 150px;
    height: 150px;
   
}

.newsletter-content h3{
    font-size: 32px;
}

input[type=text] {
    font-size: 18px;
    width: 250px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  input[type=submit] {
    font-size: 18px;
    width: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
    background-color:#FF2746;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
  }

  
/* newsletter end */

/* footer start */

.footer-content{
    margin-top: 158px;
    margin-bottom: 63px;
    margin-left: 475px;
    margin-right: 481px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* footer image */

.footer-content img{
    width: 484px;
    height: 110px;
}


/* /social icons */

.social-icon{
    margin-top: 20px;
    margin-bottom: 20px;
}
.social-icon i{
    margin-left: 14px;
    color: #969BAB;
    background-color: #E7E7E8;
    
}
.fab {
  padding: 8px;
  font-size: px;
  width: 20px;
  height: 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  }

  /* footer copyright */

  .copyright{
      font-size: 18px;
      font-weight: 400;
  }

  /* media query */

  /* mobile device */
  @media only screen and (max-width:688px) {
      .banner{
          width: 100%;
          height: 695px;
          flex-direction: column;
      }

      .banner-content{
        padding-left: 16px;
        padding-top: 112px;
        padding-bottom: 0;
      }

      .banner-header h1{
          height: 138px;
          width: 278px;
          font-size: 36px;
          line-height: 50px;
          
      }
     .btn-watch-live a{
         margin-left: 3px;
     }
      .banner-img img{
        
          margin-top: 50px;
          margin-left: 15px;
          margin-right: 16px;
          width: 329px;
          height: 259px;

      }
     
      .blogs{
        grid-template-columns: repeat(1,1fr);
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        justify-content: center;
      }
      .blog{
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 24px;
      }


      .copa{
   
        display: grid;
        justify-content: center;
        margin-left: 0px;
        margin-right: 10px;
        width: 100%;
    }


    
    .copa-content{
        margin: 20px;
        padding:20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 10px;
    
}

   

    .copa-score{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding-left: 0;
        margin-bottom: 20px;
        
    }

    .copa-score .ft {
        margin-top: 0;
        margin-left: 15px;
        margin-right: 15px;
    }

    .team{
        display: flex;
        column-gap: 5px;
        align-items: center;
    }

    .team-score{
        font-size: 16px;
    }

    .team img{
        width: 40px;
        height: 25px;
    }

    .copa-banner-thumbnail img{
        width: 100%;
        border-radius: 10px;
    }

    .newsletter-content p{
        padding:25px;
    }

    .newsletter-content form p{
        text-align: center;
    }
    
    .footer-content {
            
            margin-left: 0;
            margin-right: 0;
    }

    .footer-content img{
            width: 267px;
            height: 63px
     };
  }