/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* common style */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/*    top bar style    */


.banner{
    background-color: #2D25A0;
    height: 680px;
    display: flex;
    
}


.banner-content{
    padding-left: 156px;
    padding-top: 207px;
    padding-bottom: 169px;
}

/* top bar header */

.banner-header h1{
    margin: 0;
    width: 485px;
    height: 230px;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    color: #FFFFFF;
    margin-bottom: 27px;
}

/* watch live button */
.btn-watch-live{
    width: 173px;
    height: 44px;
}



.btn-watch-live a{
   
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
    background-color: #E02C6D;
    padding: 10px 24px ;
    text-decoration: none;
    position: relative;
}

.btn-watch-live a:after {    
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    background:white;
    transition: width 0.5s ease-in-out ;
    width: 0;
  }

  .btn-watch-live a:hover:after { 
    width: 100%; 
    left: 0; 
  }

/* top bar image */



.banner-img img{
    margin-top: 153px;
    margin-left: 102px;
    width: 556px;
    height: 438px;
}

/* section blogs start */

/* blogs style */
.blogs{
 margin-top: 70px;
 margin-left: 180px;
 margin-right: 210px;
 display: grid;
 grid-template-columns: repeat(3,1fr);
 gap: 27px 30px;
}

.blog{
    height: 474px;
    width: 330px;
    margin-bottom: 27px;
}

.blog-content{
    padding:15px ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blog-thumbnail img{
    height: 256px;
    width: 300px;
}

.blog-content h3{
    font-size: 28px;
    line-height: 40px;
}

.blog-content p{
    font-weight: 400px;
    font-size: 16px;
    line-height: 26px;
}


/* footer start */

.footer-content{
    margin-top: 158px;
    margin-bottom: 63px;
    margin-left: 475px;
    margin-right: 481px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content img{
    width: 484px;
    height: 110px;
}
.social-icon{
    margin-top: 20px;
    margin-bottom: 20px;
}
.social-icon i{
    margin-left: 14px;
    color: #969BAB;
    background-color: #E7E7E8;
    
}
.fab {
  padding: 8px;
  font-size: px;
  width: 20px;
  height: 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  }

  .copyright{
      font-size: 18px;
      font-weight: 400;
  }